---
layout: index
---
<div class="main-header">
{% for post in site.posts %}
            {% unless post.tags contains 'memo' %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                        {% if month != nmonth %}
                                    {% if forloop.index != 1 %}</ul>{% endif %}
                                    <span>{{ post.date | date: '%Y-%m' }}</span><ul>
                        {% endif %}
                        <h3 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
            {% endunless %}
{% endfor %}
</div>
