---
layout: default
---
<header class="main-header">
            <div class="wc-container">
            <h1><a href="{{ site.baseurl }}/">{{ site.harmony.name }}</a></h1>
            <h2>{{ site.harmony.description }}</h2>
                {% include header-links.html %}                
            
            
            </div>
</header>

            <div class="wc-container">

            {% for post in site.posts %}
            {% unless post.tags contains 'memo' %}
                        <h3 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
 <span>{{ post.date | date: '%F' }}</span>
            {% endunless %}
{% endfor %}
            </div>

