---
layout: default
---
<header class="main-header">
            <div class="wc-container">
                <h1><a href="{{ site.baseurl }}/">{{ site.harmony.name }}</a></h1>
                <h2>{{ site.harmony.description }}</h2>
                {% include header-links.html %}                
           
{% for post in site.posts %}
{% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
{% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
{% if month != nmonth %}
{% if forloop.index != 1 %}</ul>{% endif %}
<span>{{ post.date | date: '%Y-%m' }}</span><ul>
{% endif %}
{% unless post.tags contains 'memo' %}
        <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
{% endunless %}
{% endfor %} </div>
</header>
