<h6>Few more links</h6>
<ul class="menu">
    <li><a href="{{ '' | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
    <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
    <li><a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">Tags</a></li>
    <li><a href="{{ '/links' | prepend: site.baseurl | prepend: site.url }}">Links</a></li>
    <li><a href="{{ '/memos' | prepend: site.baseurl | prepend: site.url }}">Memos</a></li>
 <li><a href="http://feeds.feedburner.com/SikuName">Feed</a></li>
    <li><a href="{{ '/search' | prepend: site.baseurl | prepend: site.url }}">Search</a></li>
    
</ul>	

