---
layout: default
---

<div class="page-content wc-container">
	
	<div class="post">
		<h1>{{ page.title }}</h1>
		
		<p class="post-meta">
			{% if page.tags.size > 0 %}
      <span class="categories">
	      
    {% assign tags = page.tags %}
	      {% for tag in tags %}
	      <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}({{tag.size}})</a>
	     {% endfor %}
	      
      </span> |
	    {% endif %}
	    <span class="post-date">
    	{{ page.date | date: "%F %H:%M:%S %z" }} 
	    </span>
		</p>		
		
		
		<div class="post">
			{{ content }}
		</div>
	</div>


	{% if site.related_posts %}
	<div class="related">
		<h4>Related Posts</h4>
		<ul class="posts">
		    {% for post in site.related_posts limit:3 %}
		    <li>
			  <span>{{ page.date | date: "%Y-%m-%d" }}&raquo;</span>
			  <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
	


	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
			{% else %}
				<span><< Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
			{% else %}
				<span>Newer >></span>
			{% endif %}
		</div>
	</div>
        {% if page.comments %}
	{% include disqus.html %}
	{% endif %}
</div>
 
